<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/js/login.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="153898328644-hj503vp8cbsu5j381l0kgb7va8ogg3e5.apps.googleusercontent.com">

    <title>Quick Links</title>
</head>
<body>
    <div class="header">
        <h1>Quick Links</h1>
    </div>
    <div class="content">
        <div class="instructions">
            <h4>To continue, sign in with your google account</h3>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
    </div>
</body>
</html>